.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.photoInput label {
  display: block;
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 16px;
  background: $primary;
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  margin: 16px;
  font-size: 20px;

  i {
    padding: 8px;
  }
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}
