.formWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 1rem;
  width: 500px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: $primary;

  input[type="file"] {
    display: none;
  }

  label {
    width: 450px;
    text-align: center;
    cursor: pointer;
    background-color: $primary;
    padding: 1rem 0;
    color: $white;
    font-weight: bold;
    font-size: 24px;
  }

  button {
    cursor: pointer;
    background-color: $white;
    width: 80px;
    color: $gray;
  }
}
