.headerWrap {
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: $white;
  color: $primary;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
