.cardPhotoWrap {
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: $white;
  width: 500px;

  img {
    width: 100%;
  }

  h3 {
    padding: 8px;
    color: $gray;
  }

  .likeWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid $lightGray;

    i {
      font-size: 24px;
      cursor: pointer;
    }

    button {
      color: $gray;

      &:hover {
        background-color: $primary;
        color: $white;
        cursor: pointer;
      }
    }

    .liked {
      color: red;
    }
  }
}
